@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:defaults --*/

$font-family-sans-serif: Libre Franklin, sans-serif !default;

// Colors from the Prism palette at https://carto.com/carto-colors/
$navbar-bg: #666666;

$colors: (
    alexander: #1D6996,
    zoe: #5F4690,
    benjamin: #0F8554,
    miriam: #CC503E,
    rachel: #38A6A5,
    nancy: #94346E,
    andrew: #E17C05
);


/*-- scss:rules --*/

thead th {
    text-transform: none;
}
